body{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color:white;
    text-align: center;
    background-color: burlywood;
}

form{
    background-color: grey;
    padding: 30px 10px;
    height:300px;
    margin: 20px 360px;
}

h1{
    color:black;
    text-decoration: underline;
    text-align: center;
}
